
/* css reset */

    * {
        margin:0;
        padding:0;
        box-sizing:border-box;
    }

    
/* utilities */

    :root {

        --color_heading:rgba(229,49,112,255);
        --color_text:rgba(24,43,80,255);
        --bg_card:rgba(15,14,23,255);
        --card-text-color:white;
        --color_email:rgba(52,176,218,255);
        --color_card_shadow: black;
        --credits_color: gray;
    }

    .clearfix::after {
        content: '';
        display: table;
        clear: both;
    }

/* element */
    h1 {
        color: var(--color_heading);
        font-size: 3rem;
    }



    body {

        text-align: center;
        max-width: 1170px;
        margin: auto;
        font-family: 'Fredoka', sans-serif;
    }

    img {
        max-width: 100%;
        height: 6rem;
        display: inline-block;
        float: left;

    }

    p {
        margin: 2rem 0 3rem 0;
    }

    footer {
        color:var(--credits_color);
    }
/* advanced selector */

    footer > div > a {
        text-decoration: none;
        color:var(--credits_color);
    }

    .col a {
        font-size: small;
        color:var(--color_email);
        display: block;
        text-decoration: none;
    }

    div > span {
        float: left;
        display: block;
        padding: 0.8rem;
        line-height: 1.4rem;
    }

    .col:hover {

        background-color: blue;
    }



/* classes */

    .col {
        float: left;
        width: calc(90% / 3);
        margin-right: calc(10% / 3);
        margin-bottom: 3rem;
        background-color: var(--bg_card);
        color:var(--card-text-color);
        text-align: start;
        box-shadow: 0px 0px 10px var(--color_card_shadow);    
    }